name: Second Playwright Tests
on:
  workflow_run:
    workflows: ["Playwright Tests"]
    types: [completed]
jobs:
  test:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    timeout-minutes: 120
    runs-on: ubuntu-latest
    steps:
    - name: Wait 30 minutes before starting
      run: sleep 1800 
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx playwright test
    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
